@using Contentful.Core.Models

@model ContentfulCollection<User>

<h2>Users</h2>

<table>
    <tr>
        <th>Email</th>
        <th>Full Name</th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.FullName</td>
        </tr>
    }
</table>