<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Share Your Recipe</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="flex py-4 px-8 justify-between bg-[#FA6533]">
        <a href="/" class="text-3xl font-semibold">
        <h1 class="text-white hover:opacity-90">
          Share Your Recipe
        </h1>
        </a>
    </header>
    <div class="bg-[url('/images/korean-bibimbap.png')] bg-no-repeat bg-cover  h-64 flex justify-end items-center px-[6%]">
      <div class="flex flex-column gap-4">
        <h2 class="text-3xl font-semibold">
          Welcome to <span class="text-[#FA6533]">Share your recipe</span>
        </h2>
      </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
