<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Share Your Recipe</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="favicon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShareYourRecipe.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="flex flex-col gap-4 sm:flex-row items-center py-4 px-8 justify-between bg-[#FA6533]">
        <a href="/" class="text-3xl font-semibold">
        <h1 class="text-white hover:opacity-90">
          Share <span class="text-[#64C9C9]">Your</span> Recipe
        </h1>
        </a>
        @if (!ViewContext.RouteData.Values["controller"].Equals("Recipe") || !ViewContext.RouteData.Values["action"].Equals("Create"))
        {
            <a href='/recipe/create' class="text-white">
                <button class="py-2 px-4 rounded bg-[#64C9C9] shadow-md text-xl font-semibold text-white hover:opacity-90 active:scale-95">
                    Publish Your Recipe
                </button>
            </a>
        }
    </header>
    <div class="bg-[url('/images/korean-bibimbap.png')] bg-no-repeat bg-cover  h-48 flex justify-end items-center px-[6%]">
      <div class="flex flex-col gap-4 max-w-lg bg-[#00000080] p-4">
        <h2 class="text-3xl font-semibold text-white">
          Welcome to <span class="text-[#FA6533]">Share your recipe</span>
        </h2>
        <p class="text-lg text-white">
          Share your recipe with the world and see what others are cooking!
        </p>
      </div>
    </div>
    <div class="w-full">
        <main role="main" class="pb-3 w-full">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
